input.cell{
    width: 40px;
    height: 40px;
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
    padding: 0px;
    border-width: 1px;
    border-radius: 3px;
}
/* 메인 화면 설정 */
#main{
    display: flex;
    flex-flow: column;

    align-items: center;

    gap: 30px;
}
/* solve, clear 버튼 설정 */
#file > input{
    opacity: 0;
}
#file, #file-wrapper{
    display: flex;
    flex-flow: column;
    align-items: center;
}
#file{
    width: auto;
    height: auto;

    background-color: #F0F0F0;
    color: #5C85FF;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    transition-duration: 300ms;
}
#solve, #clear{
    width: 100px;
    height: 60px;

    border: solid 0px;
    border-radius: 10px;
    outline: none;

    color: #5C85FF;
    transition-duration: 300ms;
}
#file:hover, #solve:hover, #clear:hover{
    background-color: #ABABAB;
}

/* sudoku 영역 row, column 설정 */
.sudoku-rows{
    display:flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

/* 스도쿠 입력 행 설정 */
.row{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}
/* 스도쿠 각 입력칸 설정 */
.cell{
    outline: none;

    text-align: center;
}
/* 입력 칸 옆에 증감 화살표 제거 */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* 영역별로 배경 회색으로 칠해줌 */
.sudoku-rows > .row:nth-child(n + 1):nth-child(-n + 3) .cell:nth-child(n + 1):nth-child(-n + 3),
.sudoku-rows > .row:nth-child(n + 1):nth-child(-n + 3) .cell:nth-child(n + 7):nth-child(-n + 9),
.sudoku-rows > .row:nth-child(n + 4):nth-child(-n + 6) .cell:nth-child(n + 4):nth-child(-n + 6),
.sudoku-rows > .row:nth-child(n + 7):nth-child(-n + 9) .cell:nth-child(n + 1):nth-child(-n + 3),
.sudoku-rows > .row:nth-child(n + 7):nth-child(-n + 9) .cell:nth-child(n + 7):nth-child(-n + 9),
#answer-area > .row:nth-child(n + 1):nth-child(-n + 4) .cell:nth-child(n + 1):nth-child(-n + 3),
#answer-area > .row:nth-child(n + 1):nth-child(-n + 4) .cell:nth-child(n + 7):nth-child(-n + 9),
#answer-area > .row:nth-child(n + 5):nth-child(-n + 7) .cell:nth-child(n + 4):nth-child(-n + 6),
#answer-area > .row:nth-child(n + 8):nth-child(-n + 10) .cell:nth-child(n + 1):nth-child(-n + 3),
#answer-area > .row:nth-child(n + 8):nth-child(-n + 10) .cell:nth-child(n + 7):nth-child(-n + 9){
    background-color: #BFBFBF;
}

/* unable 설정 */
.unable{
    text-align: center;
}

#btn-area{
    display: flex;
    flex-flow: row;
    gap: 30px;
}

#answer-area{
    display: flex;
    flex-flow: column;
    align-items: center;
}